<h1>ログインアプリ</h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->

  <h4> メールアドレス： <%= current_user.email %> </h4>
  <%= image_tag current_user.avatar.variant(resize: '200x200') if current_user.avatar.present? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "アカウント", user_path(current_user) %>
  <%= link_to "施設登録", new_room_path %>
  <%= link_to "登録済み一覧", own_room_path(current_user) %>
  <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
   <!-- 新規登録画面に移行する -->
<% end %>