<!DOCTYPE html>
<html>
  <head>
    <title>InnReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-bar">
        <div class="header-container">
          <a href="/" class="header-title">Inn Reservation App</a>
          <div class="header-profile header-list">
            <% if current_user.present? %>
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar.variant(resize: '40x40') %>
              <% else %>
                <%= image_tag "default.png", size: "40x40" %>
              <% end %>
              <span><%= current_user.name %></span>
              <!--<ul>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              </ul>-->
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: "button header-list-item" %></li>
              <%= link_to "新規登録", new_user_registration_path, class: "button new-button header-list-item" %></li>
            <% end %>
          </div>
        </div>
      </div>
      <% if flash[:notice] %>
        <div class="notice-area">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
    </header>

    <%= yield %>

    <footer>
      <div class="footer-bar">
        <div class="footer-container">
          <a href="/" class="footer-title">Inn Reservation App</a>
          <p>Copyright © Inn Reservation App <%= Date.current.year %> All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
