<section class="show-section">
  <h2 class="show-page-title">設定</h2>
  <div class="show-container">
    <ul class="side-nav">
      <li class="side-nav-item"><%= link_to "アカウント", user_path(@user) %></li>
      <li class="side-nav-item"><%= link_to "プロフィール", profile_user_path(@user) %></li>
    </ul>
    <div class="account-info">
      <div class="account-info-header">
        <h3>プロフィール</h3>
        <%= link_to "編集", edit_user_path(@user), class: "button account-info-link" %>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="account-info-item">
          <%= f.label :email, class: "account-info-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "account-info-value string-input" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="account-info-item">
          <%= f.label :password, class: "account-info-label" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "account-info-value string-input" %>
        </div>

        <div class="account-info-item">
          <%= f.label :password_confirmation, class: "account-info-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "account-info-value string-input" %>
        </div>

        <div class="account-info-item">
          <%= f.label :current_password, class: "account-info-label" %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "account-info-value string-input" %>
        </div>

        <div class="button-area">
          <%= link_to "キャンセル", user_path(@user), class: "button cancel-button" %>
          <%= f.submit "保存", class: "button submit-button" %>
        </div>
      <% end %>
    </div>
  </div>
</section>